<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,841},{96,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,113}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>back_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,731},{96,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,117}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>dioda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,648},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>end_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,750},{96,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,113}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>end_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,673},{96,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,117}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>i_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,745},{96,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,113}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>i_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,649},{96,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,117}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>infoPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1200},{629,322}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,322}}</string>
                <key>sourceSize</key>
                <string>{629,322}</string>
            </dict>
            <key>logik_iconfcb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,192},{174,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,66}}</string>
                <key>sourceSize</key>
                <string>{174,66}</string>
            </dict>
            <key>logik_iconfcb_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,126},{174,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,66}}</string>
                <key>sourceSize</key>
                <string>{174,66}</string>
            </dict>
            <key>logik_iconmail.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1968},{174,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,66}}</string>
                <key>sourceSize</key>
                <string>{174,66}</string>
            </dict>
            <key>logik_iconmail_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1968},{174,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,66}}</string>
                <key>sourceSize</key>
                <string>{174,66}</string>
            </dict>
            <key>logik_levels.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1480,1200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1480,1200}}</string>
                <key>sourceSize</key>
                <string>{1480,1200}</string>
            </dict>
            <key>logik_number_score18x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,0},{18,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,396}}</string>
                <key>sourceSize</key>
                <string>{18,396}</string>
            </dict>
            <key>logik_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,654},{96,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,113}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>logik_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,614},{96,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,117}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,18},{275,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,28}}</string>
                <key>sourceSize</key>
                <string>{275,28}</string>
            </dict>
            <key>prst.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,46},{117,206}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,206}}</string>
                <key>sourceSize</key>
                <string>{129,210}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1200},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>wire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,550},{98,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,60}}</string>
                <key>sourceSize</key>
                <string>{98,60}</string>
            </dict>
            <key>wire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,140},{137,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,187}}</string>
                <key>sourceSize</key>
                <string>{137,187}</string>
            </dict>
            <key>wire10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,469},{149,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,48}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>wire11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,258},{157,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,170}}</string>
                <key>sourceSize</key>
                <string>{157,170}</string>
            </dict>
            <key>wire12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1968},{106,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,68}}</string>
                <key>sourceSize</key>
                <string>{106,68}</string>
            </dict>
            <key>wire13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,316},{165,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,153}}</string>
                <key>sourceSize</key>
                <string>{165,153}</string>
            </dict>
            <key>wire14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,402},{150,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,135}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>wire15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,402},{106,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,66}}</string>
                <key>sourceSize</key>
                <string>{106,66}</string>
            </dict>
            <key>wire16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,537},{54,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,137}}</string>
                <key>sourceSize</key>
                <string>{54,137}</string>
            </dict>
            <key>wire17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,163},{153,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,189}}</string>
                <key>sourceSize</key>
                <string>{153,189}</string>
            </dict>
            <key>wire18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1669,277},{125,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,177}}</string>
                <key>sourceSize</key>
                <string>{125,177}</string>
            </dict>
            <key>wire19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,1966},{171,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,62}}</string>
                <key>sourceSize</key>
                <string>{171,62}</string>
            </dict>
            <key>wire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,550},{128,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,123}}</string>
                <key>sourceSize</key>
                <string>{128,123}</string>
            </dict>
            <key>wire20.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1968},{70,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,208}}</string>
                <key>sourceSize</key>
                <string>{70,208}</string>
            </dict>
            <key>wire21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1795,508},{106,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,65}}</string>
                <key>sourceSize</key>
                <string>{106,65}</string>
            </dict>
            <key>wire22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,18},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,122}}</string>
                <key>sourceSize</key>
                <string>{118,122}</string>
            </dict>
            <key>wire23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,517},{137,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,147}}</string>
                <key>sourceSize</key>
                <string>{137,147}</string>
            </dict>
            <key>wire24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,1829},{210,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,63}}</string>
                <key>sourceSize</key>
                <string>{210,63}</string>
            </dict>
            <key>wire25.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1968},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,76}}</string>
                <key>sourceSize</key>
                <string>{66,76}</string>
            </dict>
            <key>wire26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1968},{130,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,76}}</string>
                <key>sourceSize</key>
                <string>{130,76}</string>
            </dict>
            <key>wire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1829},{129,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,214}}</string>
                <key>sourceSize</key>
                <string>{129,214}</string>
            </dict>
            <key>wire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1861,415},{135,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,144}}</string>
                <key>sourceSize</key>
                <string>{135,144}</string>
            </dict>
            <key>wire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1968},{67,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,183}}</string>
                <key>sourceSize</key>
                <string>{67,183}</string>
            </dict>
            <key>wire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1829},{137,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,190}}</string>
                <key>sourceSize</key>
                <string>{137,190}</string>
            </dict>
            <key>wire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,0},{126,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,171}}</string>
                <key>sourceSize</key>
                <string>{126,171}</string>
            </dict>
            <key>wire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,46},{85,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,66}}</string>
                <key>sourceSize</key>
                <string>{85,66}</string>
            </dict>
            <key>wire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1627,591},{130,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,58}}</string>
                <key>sourceSize</key>
                <string>{130,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Career-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:114658781d6701146cd83c18fba0967b$</string>
            <key>textureFileName</key>
            <string>Career-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
