<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logik_levels_bulbon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{241,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,241}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>logik_levels_bulbon_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{315,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,314}}</string>
                <key>sourceSize</key>
                <string>{315,314}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CareerHq-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b039042342125b03ab7581d874dcd0d$</string>
            <key>textureFileName</key>
            <string>CareerHq-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
