<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logik_levels_bulbon_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,157},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>logik_levels_bulbon_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,157}}</string>
                <key>sourceSize</key>
                <string>{158,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{256,512}</string>
            <key>textureFileName</key>
            <string>CareerHq.pvr.ccz</string>
        </dict>
    </dict>
</plist>
