<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,600},{48,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>back_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,600},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>dioda.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,553},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>end_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,600},{48,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>end_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,600},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>i_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,600},{48,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>i_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>infoPanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,9},{315,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,161}}</string>
                <key>sourceSize</key>
                <string>{315,161}</string>
            </dict>
            <key>logik_buyfull.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,408},{126,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,33}}</string>
                <key>sourceSize</key>
                <string>{126,33}</string>
            </dict>
            <key>logik_buyfull1.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,428},{100,15}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{100,15}}</string>
                <key>sourceSize</key>
                <string>{126,33}</string>
            </dict>
            <key>logik_buyfull2.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,324},{104,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{104,19}}</string>
                <key>sourceSize</key>
                <string>{126,33}</string>
            </dict>
            <key>logik_iconfcb.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,335},{87,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,33}}</string>
                <key>sourceSize</key>
                <string>{87,33}</string>
            </dict>
            <key>logik_iconfcb_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,239},{87,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,33}}</string>
                <key>sourceSize</key>
                <string>{87,33}</string>
            </dict>
            <key>logik_iconmail.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,206},{87,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,33}}</string>
                <key>sourceSize</key>
                <string>{87,33}</string>
            </dict>
            <key>logik_iconmail_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,173},{87,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,33}}</string>
                <key>sourceSize</key>
                <string>{87,33}</string>
            </dict>
            <key>logik_levels.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{740,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{740,600}}</string>
                <key>sourceSize</key>
                <string>{740,600}</string>
            </dict>
            <key>logik_number_score18x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,0},{9,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,198}}</string>
                <key>sourceSize</key>
                <string>{9,198}</string>
            </dict>
            <key>logik_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,600},{48,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>logik_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,558},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>pinchBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,101},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>pinchRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,55},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>pinchYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,9},{37,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,46}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,324},{138,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,14}}</string>
                <key>sourceSize</key>
                <string>{138,14}</string>
            </dict>
            <key>prst.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,435},{59,103}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,103}}</string>
                <key>sourceSize</key>
                <string>{65,105}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,648},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>wire0.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,338},{49,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,30}}</string>
                <key>sourceSize</key>
                <string>{49,30}</string>
            </dict>
            <key>wire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,510},{69,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,94}}</string>
                <key>sourceSize</key>
                <string>{69,94}</string>
            </dict>
            <key>wire10.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,600},{75,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,24}}</string>
                <key>sourceSize</key>
                <string>{75,24}</string>
            </dict>
            <key>wire11.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,94},{79,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,85}}</string>
                <key>sourceSize</key>
                <string>{79,85}</string>
            </dict>
            <key>wire12.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,368},{53,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,34}}</string>
                <key>sourceSize</key>
                <string>{53,34}</string>
            </dict>
            <key>wire13.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,571},{83,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,77}}</string>
                <key>sourceSize</key>
                <string>{83,77}</string>
            </dict>
            <key>wire14.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,579},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>wire15.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,505},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>wire16.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,484},{27,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,69}}</string>
                <key>sourceSize</key>
                <string>{27,69}</string>
            </dict>
            <key>wire17.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,494},{77,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,95}}</string>
                <key>sourceSize</key>
                <string>{77,95}</string>
            </dict>
            <key>wire18.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,272},{63,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,89}}</string>
                <key>sourceSize</key>
                <string>{63,89}</string>
            </dict>
            <key>wire19.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,63},{86,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,31}}</string>
                <key>sourceSize</key>
                <string>{86,31}</string>
            </dict>
            <key>wire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,579},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>wire20.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,147},{35,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,104}}</string>
                <key>sourceSize</key>
                <string>{35,104}</string>
            </dict>
            <key>wire21.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,452},{53,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,33}}</string>
                <key>sourceSize</key>
                <string>{53,33}</string>
            </dict>
            <key>wire22.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,617},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>wire23.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,647},{69,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,74}}</string>
                <key>sourceSize</key>
                <string>{69,74}</string>
            </dict>
            <key>wire24.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,403},{105,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,32}}</string>
                <key>sourceSize</key>
                <string>{105,32}</string>
            </dict>
            <key>wire25.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,368},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>wire26.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,343},{65,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,38}}</string>
                <key>sourceSize</key>
                <string>{65,38}</string>
            </dict>
            <key>wire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,338},{65,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,107}}</string>
                <key>sourceSize</key>
                <string>{65,107}</string>
            </dict>
            <key>wire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,647},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>wire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,251},{34,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,92}}</string>
                <key>sourceSize</key>
                <string>{34,92}</string>
            </dict>
            <key>wire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,441},{69,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,95}}</string>
                <key>sourceSize</key>
                <string>{69,95}</string>
            </dict>
            <key>wire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,0},{63,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,86}}</string>
                <key>sourceSize</key>
                <string>{63,86}</string>
            </dict>
            <key>wire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,441},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,33}}</string>
                <key>sourceSize</key>
                <string>{43,33}</string>
            </dict>
            <key>wire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,387},{65,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,29}}</string>
                <key>sourceSize</key>
                <string>{65,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Career.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad441cd1b1495a576d7f05c1155244b1$</string>
            <key>textureFileName</key>
            <string>Career.pvr.ccz</string>
        </dict>
    </dict>
</plist>
