<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{180,877}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,877}}</string>
                <key>sourceSize</key>
                <string>{180,877}</string>
            </dict>
            <key>credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,348},{180,601}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,601}}</string>
                <key>sourceSize</key>
                <string>{180,601}</string>
            </dict>
            <key>green.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,227},{41,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>howto.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,225},{103,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,31}}</string>
                <key>sourceSize</key>
                <string>{103,31}</string>
            </dict>
            <key>howto_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{211,348}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{211,348}}</string>
                <key>sourceSize</key>
                <string>{221,348}</string>
            </dict>
            <key>logik_credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,122},{103,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,31}}</string>
                <key>sourceSize</key>
                <string>{103,31}</string>
            </dict>
            <key>pincl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,0},{92,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,62}}</string>
                <key>sourceSize</key>
                <string>{92,62}</string>
            </dict>
            <key>pincl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,62},{92,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,60}}</string>
                <key>sourceSize</key>
                <string>{92,60}</string>
            </dict>
            <key>prst.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,122},{61,105}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,105}}</string>
                <key>sourceSize</key>
                <string>{67,107}</string>
            </dict>
            <key>red.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,994},{41,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>score=.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,877},{117,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,23}}</string>
                <key>sourceSize</key>
                <string>{117,23}</string>
            </dict>
            <key>screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,877},{163,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,125}}</string>
                <key>sourceSize</key>
                <string>{163,125}</string>
            </dict>
            <key>screen_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,348},{171,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,101}}</string>
                <key>sourceSize</key>
                <string>{171,101}</string>
            </dict>
            <key>test.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{171,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,24}}</string>
                <key>sourceSize</key>
                <string>{171,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Howto.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b90d62790ba279460421b9f071da2ce2$</string>
            <key>textureFileName</key>
            <string>Howto.pvr.ccz</string>
        </dict>
    </dict>
</plist>
