<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1061},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1061},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1041},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1063},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1063},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1255},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1217},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1179},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1141},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,549},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>colon.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,511},{9,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,38}}</string>
                <key>sourceSize</key>
                <string>{9,38}</string>
            </dict>
            <key>debug_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,620},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,511},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>end_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1546},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>end_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,810},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>greenLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,782},{83,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{83,53}</string>
            </dict>
            <key>highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1661},{97,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,86}}</string>
                <key>sourceSize</key>
                <string>{97,86}</string>
            </dict>
            <key>i_t_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,500},{94,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{94,85}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>i_t_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1546},{94,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,91}}</string>
                <key>sourceSize</key>
                <string>{94,91}</string>
            </dict>
            <key>lightSphere.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,620},{520,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,350}}</string>
                <key>sourceSize</key>
                <string>{520,350}</string>
            </dict>
            <key>logik_continue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,970},{171,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{171,34}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_continue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,791},{181,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{181,44}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_gmenu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,749},{185,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{185,42}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_gmenu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,699},{195,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{195,50}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_iconfcb.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1722},{176,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,68}}</string>
                <key>sourceSize</key>
                <string>{176,68}</string>
            </dict>
            <key>logik_iconfcb_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1546},{176,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,68}}</string>
                <key>sourceSize</key>
                <string>{176,68}</string>
            </dict>
            <key>logik_iconmail.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,995},{176,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,68}}</string>
                <key>sourceSize</key>
                <string>{176,68}</string>
            </dict>
            <key>logik_iconmail_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,865},{176,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,68}}</string>
                <key>sourceSize</key>
                <string>{176,68}</string>
            </dict>
            <key>logik_krytka.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,970},{493,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,159}}</string>
                <key>sourceSize</key>
                <string>{493,159}</string>
            </dict>
            <key>logik_levelend_4line.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1250},{493,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,143}}</string>
                <key>sourceSize</key>
                <string>{493,143}</string>
            </dict>
            <key>logik_levelend_5line.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1107},{493,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,143}}</string>
                <key>sourceSize</key>
                <string>{493,143}</string>
            </dict>
            <key>logik_levelend_6line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1129},{493,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,143}}</string>
                <key>sourceSize</key>
                <string>{493,143}</string>
            </dict>
            <key>logik_number_score18x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,699},{20,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,398}}</string>
                <key>sourceSize</key>
                <string>{20,398}</string>
            </dict>
            <key>logik_pauza_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1698},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>logik_pauza_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,712},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>logik_replay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1063},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{145,38}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_replay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1343},{155,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{155,48}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_score_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{770,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,82}}</string>
                <key>sourceSize</key>
                <string>{770,82}</string>
            </dict>
            <key>logik_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1898},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>logik_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,614},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>orangeLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,699},{83,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{83,53}</string>
            </dict>
            <key>panel_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{557,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,109}}</string>
                <key>sourceSize</key>
                <string>{557,109}</string>
            </dict>
            <key>pinchBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,313},{642,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,89}}</string>
                <key>sourceSize</key>
                <string>{642,89}</string>
            </dict>
            <key>pinchBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1809},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1546},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchOrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1640},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchPink.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1733},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1640},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1889},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1813},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1813},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pincl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,224},{182,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,121}}</string>
                <key>sourceSize</key>
                <string>{182,121}</string>
            </dict>
            <key>pincl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,908},{182,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,118}}</string>
                <key>sourceSize</key>
                <string>{182,118}</string>
            </dict>
            <key>prst.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,406},{119,208}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,208}}</string>
                <key>sourceSize</key>
                <string>{131,212}</string>
            </dict>
            <key>rameno_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,511},{528,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,109}}</string>
                <key>sourceSize</key>
                <string>{528,109}</string>
            </dict>
            <key>rameno_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,594},{513,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,109}}</string>
                <key>sourceSize</key>
                <string>{513,109}</string>
            </dict>
            <key>rotor_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1272},{344,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,274}}</string>
                <key>sourceSize</key>
                <string>{344,274}</string>
            </dict>
            <key>rotor_left_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,82},{142,124}}</string>
                <key>offset</key>
                <string>{5,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{142,124}}</string>
                <key>sourceSize</key>
                <string>{344,274}</string>
            </dict>
            <key>rotor_left_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1546},{80,152}}</string>
                <key>offset</key>
                <string>{38,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,0},{80,152}}</string>
                <key>sourceSize</key>
                <string>{344,274}</string>
            </dict>
            <key>rotor_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,324},{375,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,258}}</string>
                <key>sourceSize</key>
                <string>{375,258}</string>
            </dict>
            <key>rotor_right_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,835},{177,160}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{177,160}}</string>
                <key>sourceSize</key>
                <string>{375,258}</string>
            </dict>
            <key>rotor_right_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1391},{81,152}}</string>
                <key>offset</key>
                <string>{-58,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,0},{81,152}}</string>
                <key>sourceSize</key>
                <string>{375,258}</string>
            </dict>
            <key>score_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1293},{157,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,50}}</string>
                <key>sourceSize</key>
                <string>{157,50}</string>
            </dict>
            <key>screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{324,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,247}}</string>
                <key>sourceSize</key>
                <string>{324,247}</string>
            </dict>
            <key>shadowBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{642,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,231}}</string>
                <key>sourceSize</key>
                <string>{642,231}</string>
            </dict>
            <key>skip_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,402},{98,85}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{98,85}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>skip_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1889},{98,93}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{98,93}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>time_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1987},{91,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,48}}</string>
                <key>sourceSize</key>
                <string>{91,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e58ac3338a9eb61fb6e9f1c98991611c$</string>
            <key>textureFileName</key>
            <string>Level-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
