<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1271},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1233},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2026},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2026},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1897},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1859},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,812},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,774},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,203},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,203},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>colon.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,203},{9,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,38}}</string>
                <key>sourceSize</key>
                <string>{9,38}</string>
            </dict>
            <key>debug_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,749},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,203},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>end_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1270},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>end_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,976},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>greenLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,165},{83,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{83,53}</string>
            </dict>
            <key>highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1375},{97,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,86}}</string>
                <key>sourceSize</key>
                <string>{97,86}</string>
            </dict>
            <key>i_t_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,763},{98,85}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{98,85}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>i_t_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1027},{98,91}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,28},{98,91}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>lightSphere.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,883},{520,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,350}}</string>
                <key>sourceSize</key>
                <string>{520,350}</string>
            </dict>
            <key>logik_continue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1317},{171,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{171,34}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_continue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,909},{181,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{181,44}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_gmenu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,749},{185,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{185,42}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_gmenu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,699},{195,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{195,50}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_iconfcb.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1249},{176,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,68}}</string>
                <key>sourceSize</key>
                <string>{176,68}</string>
            </dict>
            <key>logik_iconfcb_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1181},{176,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,68}}</string>
                <key>sourceSize</key>
                <string>{176,68}</string>
            </dict>
            <key>logik_iconmail.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1113},{176,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,68}}</string>
                <key>sourceSize</key>
                <string>{176,68}</string>
            </dict>
            <key>logik_iconmail_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,699},{176,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,68}}</string>
                <key>sourceSize</key>
                <string>{176,68}</string>
            </dict>
            <key>logik_krytka.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1351},{493,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,159}}</string>
                <key>sourceSize</key>
                <string>{493,159}</string>
            </dict>
            <key>logik_levelend_4line.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1507},{493,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,143}}</string>
                <key>sourceSize</key>
                <string>{493,143}</string>
            </dict>
            <key>logik_levelend_5line.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1507},{493,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,143}}</string>
                <key>sourceSize</key>
                <string>{493,143}</string>
            </dict>
            <key>logik_levelend_6line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1271},{493,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,143}}</string>
                <key>sourceSize</key>
                <string>{493,143}</string>
            </dict>
            <key>logik_number_score18x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1461},{20,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,398}}</string>
                <key>sourceSize</key>
                <string>{20,398}</string>
            </dict>
            <key>logik_pauza_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1172},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>logik_pauza_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,878},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>logik_replay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1233},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{145,38}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_replay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,1935},{155,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{155,48}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_score_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{770,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,82}}</string>
                <key>sourceSize</key>
                <string>{770,82}</string>
            </dict>
            <key>logik_x_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,1074},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>logik_x_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,780},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>orangeLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,82},{83,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{83,53}</string>
            </dict>
            <key>panel_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,665},{557,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,109}}</string>
                <key>sourceSize</key>
                <string>{557,109}</string>
            </dict>
            <key>pinchBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{714,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{714,121}}</string>
                <key>sourceSize</key>
                <string>{714,121}</string>
            </dict>
            <key>pinchBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1841},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1765},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchOrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1689},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchPink.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1613},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1537},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1461},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1299},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pinchYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1223},{76,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,93}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>pincl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,390},{182,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,121}}</string>
                <key>sourceSize</key>
                <string>{182,121}</string>
            </dict>
            <key>pincl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,791},{182,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,118}}</string>
                <key>sourceSize</key>
                <string>{182,118}</string>
            </dict>
            <key>prst.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,572},{119,208}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,208}}</string>
                <key>sourceSize</key>
                <string>{131,212}</string>
            </dict>
            <key>rameno_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{528,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,109}}</string>
                <key>sourceSize</key>
                <string>{528,109}</string>
            </dict>
            <key>rameno_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,861},{513,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,109}}</string>
                <key>sourceSize</key>
                <string>{513,109}</string>
            </dict>
            <key>rotor_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1233},{344,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,274}}</string>
                <key>sourceSize</key>
                <string>{344,274}</string>
            </dict>
            <key>rotor_left_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,248},{142,124}}</string>
                <key>offset</key>
                <string>{5,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{142,124}}</string>
                <key>sourceSize</key>
                <string>{344,274}</string>
            </dict>
            <key>rotor_left_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1844},{80,152}}</string>
                <key>offset</key>
                <string>{38,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,0},{80,152}}</string>
                <key>sourceSize</key>
                <string>{344,274}</string>
            </dict>
            <key>rotor_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,324},{375,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,258}}</string>
                <key>sourceSize</key>
                <string>{375,258}</string>
            </dict>
            <key>rotor_right_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,953},{177,160}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{177,160}}</string>
                <key>sourceSize</key>
                <string>{375,258}</string>
            </dict>
            <key>rotor_right_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,875},{81,152}}</string>
                <key>offset</key>
                <string>{-58,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{81,152}}</string>
                <key>sourceSize</key>
                <string>{375,258}</string>
            </dict>
            <key>score_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1764},{157,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,50}}</string>
                <key>sourceSize</key>
                <string>{157,50}</string>
            </dict>
            <key>screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{324,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,247}}</string>
                <key>sourceSize</key>
                <string>{324,247}</string>
            </dict>
            <key>shadowBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{642,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,231}}</string>
                <key>sourceSize</key>
                <string>{642,231}</string>
            </dict>
            <key>shadowBaseTest.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,203},{642,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,231}}</string>
                <key>sourceSize</key>
                <string>{642,231}</string>
            </dict>
            <key>skip_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,665},{98,85}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{98,85}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>skip_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1125},{98,93}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{98,93}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>time_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1935},{91,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,48}}</string>
                <key>sourceSize</key>
                <string>{91,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Level-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f54c35488b5d6d418f8d507735f70064$</string>
            <key>textureFileName</key>
            <string>Level-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
