<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,642},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,642},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,642},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,642},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,626},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,588},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,550},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,512},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,474},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,436},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>colon.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,224},{9,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,38}}</string>
                <key>sourceSize</key>
                <string>{9,38}</string>
            </dict>
            <key>debug_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,262},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,398},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,38}}</string>
                <key>sourceSize</key>
                <string>{20,38}</string>
            </dict>
            <key>end_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,518},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,117}</string>
            </dict>
            <key>end_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,322},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>greenLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1264},{83,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{83,53}</string>
            </dict>
            <key>highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,171},{97,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,86}}</string>
                <key>sourceSize</key>
                <string>{97,86}</string>
            </dict>
            <key>lightSphere.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{520,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,350}}</string>
                <key>sourceSize</key>
                <string>{520,350}</string>
            </dict>
            <key>logik_continue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1163},{171,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{171,34}}</string>
                <key>sourceSize</key>
                <string>{197,48}</string>
            </dict>
            <key>logik_continue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,922},{181,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{181,44}}</string>
                <key>sourceSize</key>
                <string>{197,48}</string>
            </dict>
            <key>logik_gmenu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1246},{185,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{185,42}}</string>
                <key>sourceSize</key>
                <string>{197,48}</string>
            </dict>
            <key>logik_gmenu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1196},{195,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{195,50}}</string>
                <key>sourceSize</key>
                <string>{197,50}</string>
            </dict>
            <key>logik_iconfcb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1163},{177,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,50}}</string>
                <key>sourceSize</key>
                <string>{177,50}</string>
            </dict>
            <key>logik_iconfcb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,1103},{171,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{171,44}}</string>
                <key>sourceSize</key>
                <string>{175,48}</string>
            </dict>
            <key>logik_iconmail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1293},{151,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,50}}</string>
                <key>sourceSize</key>
                <string>{151,50}</string>
            </dict>
            <key>logik_iconmail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1196},{145,44}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{145,44}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>logik_krytka.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,718},{493,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,159}}</string>
                <key>sourceSize</key>
                <string>{493,159}</string>
            </dict>
            <key>logik_levelend_4line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1020},{493,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,143}}</string>
                <key>sourceSize</key>
                <string>{493,143}</string>
            </dict>
            <key>logik_levelend_5line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,877},{493,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,143}}</string>
                <key>sourceSize</key>
                <string>{493,143}</string>
            </dict>
            <key>logik_levelend_6line.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,781},{493,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,143}}</string>
                <key>sourceSize</key>
                <string>{493,143}</string>
            </dict>
            <key>logik_number_score18x36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,0},{20,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,398}}</string>
                <key>sourceSize</key>
                <string>{20,398}</string>
            </dict>
            <key>logik_pauza_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,420},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,117}</string>
            </dict>
            <key>logik_pauza_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,224},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>logik_replay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1240},{145,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{145,38}}</string>
                <key>sourceSize</key>
                <string>{197,48}</string>
            </dict>
            <key>logik_replay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1274},{155,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{155,48}}</string>
                <key>sourceSize</key>
                <string>{197,48}</string>
            </dict>
            <key>logik_score_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{770,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,82}}</string>
                <key>sourceSize</key>
                <string>{770,82}</string>
            </dict>
            <key>orangeLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1211},{83,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,53}}</string>
                <key>sourceSize</key>
                <string>{83,53}</string>
            </dict>
            <key>panel_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,171},{553,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,88}}</string>
                <key>sourceSize</key>
                <string>{553,88}</string>
            </dict>
            <key>pinchBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{642,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,89}}</string>
                <key>sourceSize</key>
                <string>{642,89}</string>
            </dict>
            <key>pinchBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1288},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>pinchGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1389},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>pinchOrange.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1389},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>pinchPink.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1343},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>pinchPurple.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1343},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>pinchRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1323},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>pinchWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1323},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>pinchYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1317},{66,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>rameno_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,259},{528,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,109}}</string>
                <key>sourceSize</key>
                <string>{528,109}</string>
            </dict>
            <key>rameno_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,268},{513,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,109}}</string>
                <key>sourceSize</key>
                <string>{513,109}</string>
            </dict>
            <key>rotor_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,922},{344,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,274}}</string>
                <key>sourceSize</key>
                <string>{344,274}</string>
            </dict>
            <key>rotor_left_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,82},{142,124}}</string>
                <key>offset</key>
                <string>{5,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{142,124}}</string>
                <key>sourceSize</key>
                <string>{342,272}</string>
            </dict>
            <key>rotor_left_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1213},{80,152}}</string>
                <key>offset</key>
                <string>{38,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,0},{80,152}}</string>
                <key>sourceSize</key>
                <string>{342,272}</string>
            </dict>
            <key>rotor_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,664},{375,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,258}}</string>
                <key>sourceSize</key>
                <string>{375,258}</string>
            </dict>
            <key>rotor_right_inside.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1163},{177,160}}</string>
                <key>offset</key>
                <string>{-6,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{177,160}}</string>
                <key>sourceSize</key>
                <string>{373,256}</string>
            </dict>
            <key>rotor_right_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,1278},{81,152}}</string>
                <key>offset</key>
                <string>{-58,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,0},{81,152}}</string>
                <key>sourceSize</key>
                <string>{373,256}</string>
            </dict>
            <key>score_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1274},{157,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,50}}</string>
                <key>sourceSize</key>
                <string>{157,50}</string>
            </dict>
            <key>shadowBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{642,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,231}}</string>
                <key>sourceSize</key>
                <string>{642,231}</string>
            </dict>
            <key>time_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1163},{91,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,48}}</string>
                <key>sourceSize</key>
                <string>{91,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>Level-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
