<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>long_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,688},{83,688}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{83,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,0},{83,688}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{83,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,0},{73,688}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{73,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,0},{67,688}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{67,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,0},{91,688}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{91,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,688},{97,688}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{97,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,688},{91,688}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{91,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,688},{83,688}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{83,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{87,688}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{87,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{93,688}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{93,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,0},{95,688}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{95,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{97,688}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{97,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,688},{93,688}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{93,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,688},{93,688}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{93,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>long_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,688},{87,688}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{87,688}}</string>
                <key>sourceSize</key>
                <string>{159,688}</string>
            </dict>
            <key>small_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,688},{52,345}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{52,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1376},{68,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{68,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{56,345}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{56,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,345},{52,345}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{52,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1376},{70,345}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{70,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,0},{60,345}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{60,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,0},{54,345}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{54,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,0},{58,345}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{58,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1376},{68,345}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{68,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,0},{60,345}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{60,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1376},{70,345}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{70,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1376},{74,345}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{74,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1376},{72,345}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{72,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1376},{68,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{68,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
            <key>small_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1376},{74,345}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{74,345}}</string>
                <key>sourceSize</key>
                <string>{94,345}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lightning-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ab57c8aac92d50200245342eee5e007$</string>
            <key>textureFileName</key>
            <string>Lightning-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
