<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blesk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,358},{627,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,244}}</string>
                <key>sourceSize</key>
                <string>{627,244}</string>
            </dict>
            <key>blesk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,985},{609,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,219}}</string>
                <key>sourceSize</key>
                <string>{609,219}</string>
            </dict>
            <key>blesk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1954},{533,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,65}}</string>
                <key>sourceSize</key>
                <string>{533,65}</string>
            </dict>
            <key>blesk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,766},{609,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{609,475}}</string>
                <key>sourceSize</key>
                <string>{609,475}</string>
            </dict>
            <key>budik.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,179},{290,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,179}}</string>
                <key>sourceSize</key>
                <string>{290,179}</string>
            </dict>
            <key>budikbody.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,0},{290,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,179}}</string>
                <key>sourceSize</key>
                <string>{290,179}</string>
            </dict>
            <key>ciselnik.png</key>
            <dict>
                <key>frame</key>
                <string>{{1931,358},{176,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,105}}</string>
                <key>sourceSize</key>
                <string>{176,105}</string>
            </dict>
            <key>factory.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1026},{770,928}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,928}}</string>
                <key>sourceSize</key>
                <string>{770,928}</string>
            </dict>
            <key>hrany.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{766,917}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{766,917}}</string>
                <key>sourceSize</key>
                <string>{766,917}</string>
            </dict>
            <key>rucicka.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2019},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
            <key>rucicka2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2019},{18,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,42}}</string>
                <key>sourceSize</key>
                <string>{18,42}</string>
            </dict>
            <key>zaklad_mraky.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{770,1026}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,1026}}</string>
                <key>sourceSize</key>
                <string>{770,1026}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Loader-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09a94622cd0cbaaee4584b45bbb36001$</string>
            <key>textureFileName</key>
            <string>Loader-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
