<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{642,962}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,962}}</string>
                <key>sourceSize</key>
                <string>{642,962}</string>
            </dict>
            <key>doors.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{471,694}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,694}}</string>
                <key>sourceSize</key>
                <string>{471,694}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1056},{642,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,95}}</string>
                <key>sourceSize</key>
                <string>{642,95}</string>
            </dict>
            <key>i_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1010},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,117}</string>
            </dict>
            <key>i_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1010},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>lightOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,642},{234,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,270}}</string>
                <key>sourceSize</key>
                <string>{234,270}</string>
            </dict>
            <key>logik_career1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,525},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logik_career2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,350},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logik_single1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,175},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logik_single2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,0},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,700},{356,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,96}}</string>
                <key>sourceSize</key>
                <string>{356,96}</string>
            </dict>
            <key>logo_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1108},{366,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,117}}</string>
                <key>sourceSize</key>
                <string>{366,117}</string>
            </dict>
            <key>rameno_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1108},{528,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,109}}</string>
                <key>sourceSize</key>
                <string>{528,109}</string>
            </dict>
            <key>rameno_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1474},{513,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,109}}</string>
                <key>sourceSize</key>
                <string>{513,109}</string>
            </dict>
            <key>settings_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,912},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,117}</string>
            </dict>
            <key>settings_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,912},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>Main-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
