<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{642,962}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,962}}</string>
                <key>sourceSize</key>
                <string>{642,962}</string>
            </dict>
            <key>doors.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{471,694}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,694}}</string>
                <key>sourceSize</key>
                <string>{471,694}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1113},{642,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,95}}</string>
                <key>sourceSize</key>
                <string>{642,95}</string>
            </dict>
            <key>i_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1306},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>i_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1224},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>lightOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,642},{234,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,270}}</string>
                <key>sourceSize</key>
                <string>{234,270}</string>
            </dict>
            <key>logik_career1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1107},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logik_career2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1068},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logik_continue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1146},{171,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{171,34}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_continue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,370},{181,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{181,44}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_full1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1029},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logik_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,990},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logik_gmenu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,551},{185,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{185,42}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_gmenu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,0},{195,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{195,50}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1068},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_new2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,912},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_quit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1113},{165,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{165,38}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_quit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,195},{175,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{175,46}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_single1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,951},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logik_single2.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,912},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,736},{356,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,96}}</string>
                <key>sourceSize</key>
                <string>{356,96}</string>
            </dict>
            <key>logo_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1620},{366,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,117}}</string>
                <key>sourceSize</key>
                <string>{366,117}</string>
            </dict>
            <key>rameno_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1092},{528,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,109}}</string>
                <key>sourceSize</key>
                <string>{528,109}</string>
            </dict>
            <key>rameno_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1208},{513,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,109}}</string>
                <key>sourceSize</key>
                <string>{513,109}</string>
            </dict>
            <key>settings_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1208},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>settings_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1180},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Main-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:257cda24951a5a3aa6d0d94b24e5e515$</string>
            <key>textureFileName</key>
            <string>Main-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
