<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{770,1026}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,1026}}</string>
                <key>sourceSize</key>
                <string>{770,1026}</string>
            </dict>
            <key>doors.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1026},{471,694}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,694}}</string>
                <key>sourceSize</key>
                <string>{471,694}</string>
            </dict>
            <key>grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,596},{768,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,157}}</string>
                <key>sourceSize</key>
                <string>{768,157}</string>
            </dict>
            <key>i_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1364},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>i_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1863},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>lightOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{234,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,270}}</string>
                <key>sourceSize</key>
                <string>{234,270}</string>
            </dict>
            <key>logik_career1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,523},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logik_career2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,484},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logik_continue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,562},{171,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{171,34}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_continue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,362},{181,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{181,44}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_gmenu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,320},{185,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{185,42}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_gmenu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,270},{195,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{195,50}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_new1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,966},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_new2.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,445},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_quit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,445},{165,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{165,38}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_quit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,270},{175,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{175,46}}</string>
                <key>sourceSize</key>
                <string>{199,50}</string>
            </dict>
            <key>logik_single1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,445},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logik_single2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,406},{175,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,39}}</string>
                <key>sourceSize</key>
                <string>{175,39}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,610},{356,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,96}}</string>
                <key>sourceSize</key>
                <string>{356,96}</string>
            </dict>
            <key>logo_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1497},{366,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,117}}</string>
                <key>sourceSize</key>
                <string>{366,117}</string>
            </dict>
            <key>rameno_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1497},{528,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,109}}</string>
                <key>sourceSize</key>
                <string>{528,109}</string>
            </dict>
            <key>rameno_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1497},{513,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,109}}</string>
                <key>sourceSize</key>
                <string>{513,109}</string>
            </dict>
            <key>settings_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1364},{98,115}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,115}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>settings_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1863},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Main-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:939027889b5b80c5ae6590f505b05b45$</string>
            <key>textureFileName</key>
            <string>Main-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
