<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,181},{48,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>back_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,181},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>difficultyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{109,27}</string>
            </dict>
            <key>dioda.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>logik_easy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,496},{35,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{35,16}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>logik_easy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,480},{39,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{39,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>logik_hard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,496},{39,16}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{39,16}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>logik_hard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,480},{43,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{43,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>logik_normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,480},{57,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{57,16}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>logik_normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,480},{63,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{63,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>paka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,102},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>paka_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,143},{90,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,38}}</string>
                <key>sourceSize</key>
                <string>{90,38}</string>
            </dict>
            <key>paka_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,103},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>paka_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>pin_lezi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,0},{102,104}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,104}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>pin_lezi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,148},{56,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,80}}</string>
                <key>sourceSize</key>
                <string>{56,88}</string>
            </dict>
            <key>pin_lezi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{85,103}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,103}}</string>
                <key>sourceSize</key>
                <string>{87,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>score.pvr.ccz</string>
        </dict>
    </dict>
</plist>
