<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,68},{48,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>back_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,20},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>difficultyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{109,27}</string>
            </dict>
            <key>dioda.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,480},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>logik_easy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,480},{77,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>logik_easy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,480},{73,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{73,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>logik_hard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,20},{51,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{51,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>logik_hard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,480},{77,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>logik_normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,0},{71,20}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{71,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>logik_normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,480},{75,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{75,20}}</string>
                <key>sourceSize</key>
                <string>{77,20}</string>
            </dict>
            <key>paka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,116},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,46}}</string>
                <key>sourceSize</key>
                <string>{90,46}</string>
            </dict>
            <key>paka_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,206},{90,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,38}}</string>
                <key>sourceSize</key>
                <string>{90,38}</string>
            </dict>
            <key>paka_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,206},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{90,40}</string>
            </dict>
            <key>paka_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{90,50}</string>
            </dict>
            <key>pin_lezi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,80},{102,104}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,104}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>pin_lezi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,0},{105,80}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{105,80}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>pin_lezi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,182},{85,103}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,103}}</string>
                <key>sourceSize</key>
                <string>{87,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{512,512}</string>
            <key>textureFileName</key>
            <string>score.pvr.ccz</string>
        </dict>
    </dict>
</plist>
