<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,787},{96,113}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,113}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>back_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,736},{96,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,117}}</string>
                <key>sourceSize</key>
                <string>{96,117}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{768,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1024}}</string>
                <key>sourceSize</key>
                <string>{768,1024}</string>
            </dict>
            <key>difficultyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{217,53}</string>
            </dict>
            <key>dioda.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,736},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>logik_easy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,470},{70,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,4},{70,31}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>logik_easy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,206},{78,39}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{78,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>logik_hard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,396},{74,31}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,4},{74,31}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>logik_hard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,122},{84,39}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>logik_normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,284},{112,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{112,31}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>logik_normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,0},{122,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{122,39}}</string>
                <key>sourceSize</key>
                <string>{154,39}</string>
            </dict>
            <key>paka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,564},{179,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,92}}</string>
                <key>sourceSize</key>
                <string>{179,92}</string>
            </dict>
            <key>paka_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,564},{179,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,76}}</string>
                <key>sourceSize</key>
                <string>{179,76}</string>
            </dict>
            <key>paka_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,656},{179,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,80}}</string>
                <key>sourceSize</key>
                <string>{179,80}</string>
            </dict>
            <key>paka_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{180,100}</string>
            </dict>
            <key>pin_lezi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,0},{216,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,215}}</string>
                <key>sourceSize</key>
                <string>{216,215}</string>
            </dict>
            <key>pin_lezi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,215},{213,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,175}}</string>
                <key>sourceSize</key>
                <string>{213,175}</string>
            </dict>
            <key>pin_lezi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,390},{174,209}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,209}}</string>
                <key>sourceSize</key>
                <string>{174,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>score-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72c6c37f2b9797f7984220c5f9778eae$</string>
            <key>textureFileName</key>
            <string>score-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
