<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,920},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>back_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,939},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{642,962}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,962}}</string>
                <key>sourceSize</key>
                <string>{642,962}</string>
            </dict>
            <key>career-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,752},{390,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,109}}</string>
                <key>sourceSize</key>
                <string>{390,109}</string>
            </dict>
            <key>career-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{390,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,109}}</string>
                <key>sourceSize</key>
                <string>{390,109}</string>
            </dict>
            <key>difficultyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,0},{219,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,55}}</string>
                <key>sourceSize</key>
                <string>{219,55}</string>
            </dict>
            <key>dioda.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,219},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>logik_easy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,861},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_easy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,896},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_hard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,740},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_hard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,584},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,428},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,272},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>mute.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,902},{127,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,118}}</string>
                <key>sourceSize</key>
                <string>{127,118}</string>
            </dict>
            <key>paka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,744},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>paka_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,861},{181,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,78}}</string>
                <key>sourceSize</key>
                <string>{181,78}</string>
            </dict>
            <key>paka_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,838},{181,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,82}}</string>
                <key>sourceSize</key>
                <string>{181,82}</string>
            </dict>
            <key>paka_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,642},{182,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,102}}</string>
                <key>sourceSize</key>
                <string>{182,102}</string>
            </dict>
            <key>pin_lezi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,861},{218,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,217}}</string>
                <key>sourceSize</key>
                <string>{218,217}</string>
            </dict>
            <key>pin_lezi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1037},{215,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,177}}</string>
                <key>sourceSize</key>
                <string>{215,177}</string>
            </dict>
            <key>pin_lezi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,861},{176,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,219}}</string>
                <key>sourceSize</key>
                <string>{176,219}</string>
            </dict>
            <key>score-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,642},{390,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,110}}</string>
                <key>sourceSize</key>
                <string>{390,110}</string>
            </dict>
            <key>score-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{390,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,110}}</string>
                <key>sourceSize</key>
                <string>{390,110}</string>
            </dict>
            <key>slider1Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,272},{292,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,12}}</string>
                <key>sourceSize</key>
                <string>{292,12}</string>
            </dict>
            <key>thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,920},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>textureFileName</key>
            <string>Settings-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
