<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,996},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>back_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,877},{98,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,119}}</string>
                <key>sourceSize</key>
                <string>{98,119}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{770,1026}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{770,1026}}</string>
                <key>sourceSize</key>
                <string>{770,1026}</string>
            </dict>
            <key>career-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1138},{390,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,109}}</string>
                <key>sourceSize</key>
                <string>{390,109}</string>
            </dict>
            <key>career-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1136},{390,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,109}}</string>
                <key>sourceSize</key>
                <string>{390,109}</string>
            </dict>
            <key>difficultyButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{219,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,55}}</string>
                <key>sourceSize</key>
                <string>{219,55}</string>
            </dict>
            <key>dioda.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,292},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>logik_easy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,987},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_easy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,946},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_hard1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,905},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_hard2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,721},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,565},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>logik_normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,345},{156,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,41}}</string>
                <key>sourceSize</key>
                <string>{156,41}</string>
            </dict>
            <key>mute.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1028},{127,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,118}}</string>
                <key>sourceSize</key>
                <string>{127,118}</string>
            </dict>
            <key>paka_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,499},{181,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,94}}</string>
                <key>sourceSize</key>
                <string>{181,94}</string>
            </dict>
            <key>paka_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,675},{181,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,78}}</string>
                <key>sourceSize</key>
                <string>{181,78}</string>
            </dict>
            <key>paka_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,593},{181,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,82}}</string>
                <key>sourceSize</key>
                <string>{181,82}</string>
            </dict>
            <key>paka_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,397},{182,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,102}}</string>
                <key>sourceSize</key>
                <string>{182,102}</string>
            </dict>
            <key>pin_lezi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,55},{218,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,217}}</string>
                <key>sourceSize</key>
                <string>{218,217}</string>
            </dict>
            <key>pin_lezi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,753},{156,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,152}}</string>
                <key>sourceSize</key>
                <string>{156,152}</string>
            </dict>
            <key>pin_lezi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,272},{125,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,194}}</string>
                <key>sourceSize</key>
                <string>{125,194}</string>
            </dict>
            <key>red_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1115},{119,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,107}}</string>
                <key>sourceSize</key>
                <string>{119,107}</string>
            </dict>
            <key>score-off.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1028},{390,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,110}}</string>
                <key>sourceSize</key>
                <string>{390,110}</string>
            </dict>
            <key>score-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1026},{390,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,110}}</string>
                <key>sourceSize</key>
                <string>{390,110}</string>
            </dict>
            <key>slider1Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,0},{292,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,12}}</string>
                <key>sourceSize</key>
                <string>{292,12}</string>
            </dict>
            <key>thumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,501},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{64,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Settings-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53c3a40e04bea2d63cdba1a6342792de$</string>
            <key>textureFileName</key>
            <string>Settings-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
