<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>90</real>
	<key>angleVariance</key>
	<real>360</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>770</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<integer>1</integer>
	<key>finishColorAlpha</key>
	<real>1</real>
	<key>finishColorBlue</key>
	<real>1</real>
	<key>finishColorGreen</key>
	<real>1</real>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<real>0</real>
	<key>finishColorVarianceBlue</key>
	<real>0.1464646458625793</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<real>4</real>
	<key>finishParticleSizeVariance</key>
	<real>1</real>
	<key>maxParticles</key>
	<integer>50</integer>
	<key>maxRadius</key>
	<real>18</real>
	<key>maxRadiusVariance</key>
	<real>0</real>
	<key>minRadius</key>
	<real>18</real>
	<key>particleLifespan</key>
	<real>0.009999999776482582</real>
	<key>particleLifespanVariance</key>
	<real>0.1000000014901161</real>
	<key>rotatePerSecond</key>
	<real>720</real>
	<key>rotatePerSecondVariance</key>
	<real>0</real>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>40</real>
	<key>sourcePositionVariancey</key>
	<real>20</real>
	<key>sourcePositionx</key>
	<real>79</real>
	<key>sourcePositiony</key>
	<real>271</real>
	<key>startColorAlpha</key>
	<real>1</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>0.800000011920929</real>
	<key>startColorRed</key>
	<real>0.4000000059604645</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<real>4</real>
	<key>startParticleSizeVariance</key>
	<real>1</real>
	<key>textureFileName</key>
	<string>sparkleTexture.png</string>
	<key>textureImageData</key>
	<string>eJzdlz9oU1EUh+9rJSZthJiotRCJJZC0WZpFSkAhhQ5FUhqazS6B2s106JBCB5cSdMpSsiTg0CUgSMEti4SOHQWhc4esLu7xd+ynPIKtFv+8asuX8zg553fevefe+15WVlzOuVh4OBy6f4zrIiImxCQ2gv9P1oyKmLglpsRdMY2dwh8j7nfdSwi9BLVSIi2yYk7ksFn8KeIS5IV+oXaY8dj4ZsSsmBcPREE8FI+wBfzzxM2QF0PnsrWtn3GRFBmRp8aiWBYlsSrK2BL+ReLy5CXRiVxy3JZzj7m1cRXFY1ERT0RVbIin2Cr+CnFF8ubQif/kPISYsyS5C2KJca6LTVET26IudrDb+DeJK5O3gE4S3R+thyh9y3D/prHG+J5R67nYEy/ES+we/jpxVfKW0MmgG72gtu0ZW7cz9K/IOExrS+yKhmiKlmiLDraFv0HcFnlldPLoJobn7027N9s7tn4L9HGd8ewyzn3xSnTFG3GI7eLfJ26XvHV0CuhOXzAH1p/U8GwP2Tqu0M864zLtA2r2RF8cYXv4D4hrkLeJziK6Kep8b+7t/ErTL9tLtp5r9LXJ+KzGO3Es3osP2GP8h8Q1yauhs4xumjqjPbD9aWdolrkq0T9b13v0t8s4rdaJOBUD7An+HnEt8rbRKaGbpc7oeWDPEFuftlfsPLMzZYM5tH626XOf8VrNj+IT9hR/n7g2eXV0VtGdo87ESH17jtnasPPczlRbt3a22P62PdZhbo+Y8wG1h9gB/iPiOuTtoFNGN0edySs2/qD7H/T6D3r/X4XzL+jzP+jn31V4/gf9/uM/D4J6//PPQ1Dvv/71ENT7/+jeDOL3z3n38rd///23uBuec+POOc/d14fnux77cn3Nudhrbxy/gr0Q12P6uGnfm9eFvbgv5jbX+ta749Oc+hofc17SF7/m06x8q/vW2V+Yf+/s/zOzk9rz</string>
</dict>
</plist>
