<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<real>360</real>
	<key>angleVariance</key>
	<real>360</real>
	<key>blendFuncDestination</key>
	<integer>771</integer>
	<key>blendFuncSource</key>
	<integer>772</integer>
	<key>duration</key>
	<real>-1</real>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<real>0</real>
	<key>finishColorBlue</key>
	<real>1</real>
	<key>finishColorGreen</key>
	<real>0.800000011920929</real>
	<key>finishColorRed</key>
	<real>0.4000000059604645</real>
	<key>finishColorVarianceAlpha</key>
	<real>1</real>
	<key>finishColorVarianceBlue</key>
	<real>1</real>
	<key>finishColorVarianceGreen</key>
	<real>0</real>
	<key>finishColorVarianceRed</key>
	<real>0</real>
	<key>finishParticleSize</key>
	<real>3</real>
	<key>finishParticleSizeVariance</key>
	<real>0</real>
	<key>gravityx</key>
	<real>0.25</real>
	<key>gravityy</key>
	<real>0.8600000143051147</real>
	<key>maxParticles</key>
	<integer>20</integer>
	<key>particleLifespan</key>
	<real>0.2000000029802322</real>
	<key>particleLifespanVariance</key>
	<real>0.300000011920929</real>
	<key>radialAccelVariance</key>
	<string>0.000000</string>
	<key>radialAcceleration</key>
	<string>0.000000</string>
	<key>rotationEnd</key>
	<real>0</real>
	<key>rotationEndVariance</key>
	<real>0</real>
	<key>rotationStart</key>
	<real>0</real>
	<key>rotationStartVariance</key>
	<real>0</real>
	<key>sourcePositionVariancex</key>
	<real>7</real>
	<key>sourcePositionVariancey</key>
	<real>7</real>
	<key>sourcePositionx</key>
	<integer>0</integer>
	<key>sourcePositiony</key>
	<integer>0</integer>
	<key>speed</key>
	<real>20</real>
	<key>speedVariance</key>
	<real>3.333332061767578</real>
	<key>startColorAlpha</key>
	<real>0</real>
	<key>startColorBlue</key>
	<real>1</real>
	<key>startColorGreen</key>
	<real>1</real>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<real>0</real>
	<key>startColorVarianceGreen</key>
	<real>0</real>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<real>12</real>
	<key>startParticleSizeVariance</key>
	<real>8</real>
	<key>tangentialAccelVariance</key>
	<string>0.000000</string>
	<key>tangentialAcceleration</key>
	<string>80.000000</string>
	<key>textureFileName</key>
	<string>dustTexture.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
