<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kCareerScene</key>
	<dict>
		<key>CAREER_SCORE</key>
		<string>Logic-career-ciselnik.mp3</string>
		<key>BULB_BLINK</key>
		<string>Logic-career-zarovka_bip.mp3</string>
		<key>FANFARE</key>
		<string>Logic-career-fanfara.mp3</string>
		<key>BUTTON_CAREER_CLICK</key>
		<string>Logic-career-button_click_bip.mp3</string>
		<key>TUTOR7</key>
		<string>Logic-howto-tapthebulb.mp3</string>
		<key>NAV_CAREER</key>
		<string>Logic-career-packy.mp3</string>
	</dict>
	<key>kGameScene</key>
	<dict>
		<key>FLASH2</key>
		<string>Logic-level-vyboj2_bip.mp3</string>
		<key>FLASH1</key>
		<string>Logic-level-vyboj1_bip.mp3</string>
		<key>SCORE</key>
		<string>Logic-score-ciselnik.mp3</string>
		<key>NAV_LEVEL</key>
		<string>Logic-level-packy.mp3</string>
		<key>TUTOR5</key>
		<string>Logic-howto-score.mp3</string>
		<key>TUTOR4</key>
		<string>Logic-howto-orange.mp3</string>
		<key>TUTOR3</key>
		<string>Logic-howto-green.mp3</string>
		<key>TUTOR2</key>
		<string>Logic-howto-swipe.mp3</string>
		<key>TUTOR1</key>
		<string>Logic-howto-dragthepin.mp3</string>
		<key>BUTTON_LEVEL_CLICK</key>
		<string>Logic-level-button_click_bip.mp3</string>
		<key>GONG</key>
		<string>Logic-level-gong_bip.mp3</string>
		<key>SHOW_RESULT_GREEN</key>
		<string>Logic-level-greenbulb_bip.mp3</string>
		<key>SHOW_RESULT_YELLOW</key>
		<string>Logic-level-yellowbulb_bip.mp3</string>
		<key>OPEN_LOCK</key>
		<string>Logic-level-engine.mp3</string>
		<key>FIGURE_MOVE</key>
		<string>Logic-level-pincl_usazeni_bip.mp3</string>
		<key>ROW_SWIPE</key>
		<string>Logic-level-swipe.mp3</string>
		<key>LOOP_SECONDS</key>
		<string>Logic-level-tikani_bip.mp3</string>
	</dict>
	<key>kMainScene</key>
	<dict>
		<key>NAV_MAIN</key>
		<string>Logic-main-packy.mp3</string>
		<key>LAMP_BLINK</key>
		<string>Logic-main-zarovka_bip.mp3</string>
		<key>LAMP</key>
		<string>Logic-main-vrzani_lampy_bip.mp3</string>
		<key>BUTTON_MAIN_CLICK</key>
		<string>Logic-main-button_click_bip.mp3</string>
		<key>LOOP_RAIN</key>
		<string>Logic-intro&amp;main-dest.mp3</string>
	</dict>
	<key>kNoSceneUninitialized</key>
	<dict/>
	<key>kPreloaderScene</key>
	<dict>
		<key>ANIMATION</key>
		<string>Logic-intro-destblesk.mp3</string>
	</dict>
	<key>kScoreScene</key>
	<dict>
		<key>JOYSTICK_SCORE_CLICK</key>
		<string>Logic-score-paka_bip.mp3</string>
		<key>BUTTON_SCORE_CLICK</key>
		<string>Logic-score-button_click_bip.mp3</string>
	</dict>
	<key>kSettingsScene</key>
	<dict>
		<key>JOYSTICK_SETTINGS_CLICK</key>
		<string>Logic-options-paka_bip.mp3</string>
		<key>BUTTON_SETTINGS_CLICK</key>
		<string>Logic-options-button_click_bip.mp3</string>
	</dict>
	<key>kLogoScene</key>
	<dict/>
</dict>
</plist>
